/* Reset */
* {
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;


}

/* Cabeçalho */
.Cabeçalho {
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
    background-color: rgb(75, 74, 74);
}

#XmotosLogo {
    width: 200px;
    height: auto;
}

/* Menu */
#menu {
    padding-top: 25px;
    list-style: none;
}

#menu a {
    margin-right: 50px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* BOTÃO HOME */

#home {
    font-size: 2rem;
    color: #ffffff;
    position: relative;
    display: inline-block;
}

#home::after,
#home::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #ff0000, #00ffff);
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-out;
}

#home::before {
    top: -5px;
    transform-origin: left;
}

#home:hover::after,
#home:hover::before {
    transform: scaleX(1);
}

/*BOTÃO HOME FIM*/
/*----------------------------------------------------------------------*/
/*BOTÃO PEÇAS*/
#pecas {
    font-size: 2rem;
    color: #ffffff;
    position: relative;
    display: inline-block;
}

#pecas::after,
#pecas::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #ff0000, #00ffff);
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-out;
}

#pecas::before {
    top: -5px;
    transform-origin: left;
}

#pecas:hover::after,
#pecas:hover::before {
    transform: scaleX(1);
}

/*BOTÃO PEÇAS FIM*/
/*--------------------------------------------------------------------*/
/*BOTÃO SERVIÇOS*/
#servicos {
    font-size: 2rem;
    color: #ffffff;
    position: relative;
    display: inline-block;
}

#servicos::after,
#servicos::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #ff0000, #00ffff);
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-out;
}

#servicos::before {
    top: -5px;
    transform-origin: left;
}

#servicos:hover::after,
#servicos:hover::before {
    transform: scaleX(1);
}

/*BOTÃO SERVIÇOS FIM*/
/*-----------------------------------------------------------------*/
/*BOTÃO CONTATOS*/

#contato {
    font-size: 2rem;
    color: #ffffff;
    position: relative;
    display: inline-block;
}

#contato::after,
#contato::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #ff0000, #00ffff);
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-out;
}

#contato::before {
    top: -5px;
    transform-origin: left;
}

#contato:hover::after,
#contato:hover::before {
    transform: scaleX(1);
}

/*BOTÃO CONTATOS FIM*/

#entrar,
#cadastrar {
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 16px;
}

.cadastro button:hover {
    transform: scale(1.1);
}

.cadastro button:not(:last-child) {
    margin-right: 30px;
}

#entrar {
    background-color: rgb(199, 79, 79);
    color: white;
    border: none;
}

#cadastrar {
    background-color: white;
    color: rgb(199, 79, 79);
    border: 2px solid rgb(199, 79, 79);
}

/*Carrosel*/
.slider {
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
}

.slides {
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img {
    width: 800px;

}

#PinhaoECoroa {
    height: 300px;
}

#BMSfilters {
    height: 300px;
}

.manual-navigation {
    position: absolute;
    width: 800px;
    margin-top: -80px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: #fff;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -50%;
}

#radio3:checked~.first {
    margin-left: -100%;
}

#radio4:checked~.first {
    margin-left: -150%;
}




/* Rodapé */
#rodape {
    background-color: rgb(33, 6, 6);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

#redes_sociais {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icones_redes {
    display: flex;
    gap: 15px;
}

.icones_redes img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease-in-out;
}

.icones_redes img:hover {
    transform: scale(1.1);
}