*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(75, 74, 74);
}


.Cabeçalho{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
   


}


#XmotosLogo{
    width: 200px;
    height: 100px;
    margin-bottom: 20px;
   
}


#menu{
    padding-top: 25px;
    list-style-type: none;
}


#home{
    padding-right: 70px;
    text-decoration: none;
   
}


#pecas{
    padding-right: 70px;
    text-decoration: none;
}


#contato{
    padding-right: 70px;
    text-decoration: none;
}


#servicos{
    text-decoration: none;
    padding-right: 100px;
}


#entrar{
    background-color: rgb(199, 79, 79);
    border-radius:6px ;
    color: white;
    height: 50px;
}


#cadastrar{
    background-color: white;
    border-radius:6px ;
    color:rgb(199, 79, 79);
    height: 50px;
}


#imagem1{
    width: 800px;
}











